body {
  background-color: lightskyblue;
  
}

.git {
  color:magenta;
  background-color: crimson;
}

.wrapper {
  color: blue;
  display:grid;
  grid-template-columns:60% 40%;
  background-color: lavender;
}
.container {
  display: grid;
  grid-template-columns: 1fr;
   /* 1 fractional unit */
}

.nav-wrapper {
  display: flex; /* Moves elements next to each other instead of on top of each other */
  justify-content: space-between;/* Spaces out div's putting white space inbetween */
  padding: 20px; /* moves items away from edge and slightly spaces them out */
  background-color: green;
}

.left-side {
  display: flex;/* */
}

.nav-wrapper > .left-side > div {    /* Traversing a tree; This is only accessing the div contained inside left-side and inside nav-wrapper*/
  margin-right: 20px;/* scoots to the right by 20 pixels  */
  font-size: 0.9em; /*  default font size is 1em this makes it 90% of 1em */
  text-transform: uppercase;/* changes the text from current state into specified state */
}

.nav-link-wrapper {    /* */
  height: 22px;/*  */
  border-bottom: 1px solid transparent;/* making a bottom border that would look like an underline */
  transition: border-bottom 0.5s;/* bring in animation from bottom of border; half a second */
}

.nav-link-wrapper a {   /* inside of nav link wrapper grab a link */
  color: #8a8a8a;
  text-decoration: none;/* removes underline from links */
  transition: color 0.5s;/* brings in animations for half a second */
}

.nav-link-wrapper a:hover {  /* telling to check for mouse if hovering over button do whatever function below */
  color: black; /* when mmouse hovers over a button it changes color to black over a half a second */
}

.b1 {
  background-color: orangered;
  border-radius: 5px; /* makes border/edges round (usually around 5px or 10px )*/
  box-shadow: 0 -2px 5px rgba(34,34,34,0.6); /* blurs the border edge; and creates a shadow on edge */
}
.b2 {
  background-color: orangered;
  border-radius: 5px;                         /* makes border/edges round (usually around 5px or 10px )*/
  box-shadow: 0 -2px 5px rgba(34,34,34,0.6);   /* blurs the border edge; and creates a shadow on edge */
}
.b3 {
  background-color: orangered;
  border-radius: 5px;                           /* makes border/edges round (usually around 5px or 10px )*/
  box-shadow: 0 -2px 5px rgba(34,34,34,0.6);    /* blurs the border edge; and creates a shadow on edge */
}

.h2_under_construction {
  font-family: cursive;
  font-size: 24px;
  color: red;
}